<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>SafeHaven Website</title>
</head>
<body class="bg-light">
{% include 'navbar.html' %}
<div class="container">
    <div class="py-5 text-center">
        <h1>SafeHaven</h1>
        <img class="mb-2 d-block mx-auto"
             src="https://cdn.discordapp.com/attachments/946404952627093565/964183117151731732/safe-haven-color.png"
             alt="SaveHaven Logo" width="200" height="200"/>
        <h2>Evacuee Profile</h2>
        <p class="lead">Please fill in your party's information below</p>
    </div>
</div>

<div class="container">
    <h3 class="mb-3">Primary User Information</h3>
    <form novalidate>
        <div class="row g-3">
            <div class="col-sm-6">
                <label for="firstName" class="form-label">First Name</label>
                <input id="firstName" type="text" class="form-control" placeholder="John" required>
                <div class="invalid-feedback">
                    Invalid Last Name.
                </div>
            </div>

            <div class="col-sm-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input id="lastName" type="text" class="form-control" placeholder="Smith" required>
                <div class="invalid-feedback">
                    Invalid Last Name.
                </div>
            </div>

            <div class="col-6">
                <label for="username" class="form-label">Username</label>
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input id="username" type="text" class="form-control" placeholder="jsmith" required>
                </div>
                <div class="invalid-feedback">
                    Invalid Last Name.
                </div>
            </div>

            <div class="col-6">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="text" class="form-control" placeholder="Password" required>
                <div class="invalid-feedback">
                    Invalid Password.
                </div>
            </div>

            <div class="col-6">
                <label for="email" class=form-label">Email</label>
                <input id="email" type="text" class="form-control" placeholder="jsmith@gmail.com" required>
                <div class="invalid-feedback">
                    Invalid Email.
                </div>
            </div>

        </div>
    </form>

</div>

<div class="container mt-3">
    <hr class="my-4">
    <h3 class="mb-3">Geograhic Information</h3>
    <form novalidate>
        <div class="row g-3">
            <div class="col-md-5">
                <label for="country" class=form-label">Country</label>
                <select id="country" class="form-control">
                    <option value="">Choose...</option>
                    <option value="Australia">Australia</option>
                    <option value="Egypt">Egypt</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Italy">Italy</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="United States">United States</option>
                    <option value="Yemen">Yemen</option>

                </select>
                <div class="invalid-feedback">
                    Invalid Last Name.
                </div>
            </div>

            <div class="col-md-4">
                <label for="state" class=form-label">State</label>
                <select id="state" class="form-control">
                    <option value="">Choose...</option>
                    <option value="Australia">Australia</option>
                    <option value="Egypt">Egypt</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                    <option value="Italy">Italy</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="United States">United States</option>
                    <option value="Yemen">Yemen</option>

                </select>
                <div class="invalid-feedback">
                    Invalid Last Name.
                </div>
            </div>

            <div class="col-md-3">
                <label for="zipcode" class=form-label">Zipcode</label>
                <input id="zipcode" type="number" class="form-control" placeholder="25565" required>
                <div class="invalid-feedback">
                    Invalid Zipcode.
                </div>
            </div>

            <div class="col-sm-5">
                <label for="address" class=form-label">Address</label>
                <input id="address" type="text" class="form-control" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                    Invalid First Name.
                </div>
            </div>

        </div>
    </form>
</div>

<div class="container mt-3">
    <hr class="my-4">
    <h3 class="mb-3">Evacuee Party Specifics</h3>
    <form novalidate>
        <div class="row g-3">
            <h5>Pets</h5>
            <div class="col-12">
                <div class="form-check">
                    <input id="dog" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="dog">Evacuation party contains a dog(s)</label>
                </div>
                <div class="form-check">
                    <input id="cat" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="cat">Evacuation party contains a cat(s)</label>
                </div>
                <div class="form-check">
                    <input id="fish" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="fish">Evacuation party contains a fish(s)</label>
                </div>
                <div class="form-check">
                    <input id="bird" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="bird">Evacuation party contains a bird(s)</label>
                </div>

            </div>
            <h5>Kids and Babies</h5>
            <div class="col-12">
                <div class="form-check">
                    <input id="baby" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="baby">Evacuation party contains a baby(s)</label>
                </div>

                <div class="form-check">
                    <input id="kid" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="kid">Evacuation party contains a kid(s) below 13 years old</label>
                </div>

            </div>
            <h5>Entire Party</h5>
            <div class="col-sm-5">
                <label for="partyCount" class="form-label">Number of People in Evacuation Party (including kids and babies)</label>
                <input id="partyCount" type="number" class="form-control" placeholder="5" required>
                <div class="invalid-feedback">
                    Invalid First Name.
                </div>
            </div>
        </div>
        <hr class="my-4">

        <button class="btn btn-primary btn-lg btn-block">Reserve Slots</button>

    </form>
</div>

<p>
    <br>
    <br>
    <br>
</p>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>