{% extends 'base.html' %}

{% block title %}Listings{% endblock %}

{% block content %}
<h2>Listings:</h2>
{% for listing in list_data %}
    <div>
        <br>
        Address is {{ listing.address }}
        Pets :{{ listing.pets }}
        Spaces available :{{ listing.spaces }}
        Account hosting Safe Space:{{ listing.username }}
        Publication date :{{ listing.pub_date }}
        Dog Allowed :{{ listing.dog }}
        Cat Allowed :{{ listing.cat }}
        Fish Allowed :{{ listing.fish }}
        Bird Allowed :{{ listing.bird }}
        Baby Allowed :{{ listing.baby }}
        Kid Allowed :{{ listing.kid }}
        <!-- WILL HAVE evac button bring to this page-->
        <!-- WILL HAVE reserve listing pull from users database-->
    </div>
{% endfor %}

{% endblock %}
